.questions--content  {
    max-width: 600px;
    margin: 0 auto;
    margin-top: -5rem;
}

.questions--progress-bar {

}

.questions--buttons Button {

}

.hide {
    /*display: none;*/
    opacity: 0;
}