.result  {
    max-width: 600px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin-top: -5rem;

    font-size: 1.5rem;
}
.result .list-group-item {
    border: none;
}

.result p {
    font-size: 1rem;
}

.result span {
    color: red;
}